.content{
  margin-top: 1rem;
  font-size: smaller;
}

.contentHeading {
  color: #181818;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  margin-top: 1rem;
}

//.inputBox{
//  position: absolute;
//}
//
//.inputField {
//  width: 100%;
//  padding: 10px;
//  text-align: center;
//}

