@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar-spotify::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f4f9;
}

.sidebar-spotify::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fff;
}

.content-spotify::-webkit-scrollbar {
  border-radius: 8px;
  background-color: #f5f4f9;
}

.content-spotify::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fff;
}
